<div class="container">
<h1>Welcome to bit currency</h1>
<div class="row">
{{#each _ar}}
<div class="col-6 border border-dark">
    <img class="float-left mr-2" src="https://s2.coinmarketcap.com/static/img/coins/64x64/{{id}}.png"/>
<h2>{{name}}</h2>
<p>Value:{{myPrice}}</p>
 </div>

{{/each}}
 </div>
</div>